# ----------------------------------------------------------------
# Python
# ----------------------------------------------------------------

# Virtual Environments
venv/
env/
.venv/
.env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

gamedata.db
*.db